# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.xcworkspace
*.xcuserdata

# Swift
.build/
DerivedData/

# Kotlin
build/
*.class

# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# React Native
node_modules/
*.lock

# Environment
.env
.env.*
